@import "tailwindcss";

@import "antd/dist/reset.css"; /* keep AntD reset below tailwind base if used */

/* You can still use Tailwind layers if you prefer:
@layer base {}
@layer components {}
@layer utilities {}
*/
:where(.css-dev-only-do-not-override-kk2c0l).ant-table-wrapper .ant-table-cell,
:where(.css-dev-only-do-not-override-kk2c0l).ant-table-wrapper .ant-table-tbody>tr>td{
  padding: 6px 6px;
}
:where(.css-dev-only-do-not-override-kk2c0l).ant-divider-horizontal {
    margin: 16px 0;
}
:where(.css-dev-only-do-not-override-kk2c0l).ant-table-wrapper .ant-table-thead >tr>th{
  background-color: #031c4e;
  color: #ffffff;
  padding: 10px 10px;
}

/* White text for login tabs */
.custom-white-tabs .ant-tabs-tab {
  color: rgba(255, 255, 255, 0.7) !important;
}

.custom-white-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white !important;
}

.custom-white-tabs .ant-tabs-ink-bar {
  background: white !important;
}
