@import "tailwindcss";

@import "antd/dist/reset.css";
/* keep AntD reset below tailwind base if used */

/* You can still use Tailwind layers if you prefer:
@layer base {}
@layer components {}
@layer utilities {}
*/
.ant-table-wrapper .ant-table-cell,
.ant-table-wrapper .ant-table-tbody>tr>td {
  padding: 6px 6px;
}

.ant-divider-horizontal {
  margin: 16px 0;
}

.ant-table-wrapper .ant-table-thead>tr>th {
  background-color: #031c4e;
  color: #ffffff;
  padding: 5px 5px;
}

/* White text for login tabs */
.custom-white-tabs .ant-tabs-tab {
  color: rgba(255, 255, 255, 0.7) !important;
}

.custom-white-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white !important;
}

.custom-white-tabs .ant-tabs-ink-bar {
  background: white !important;
}

.sidebar-gradient-active .ant-menu-item-selected {
  background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%) !important;
  color: #fff !important;
}

.sidebar-gradient-active .ant-menu-item-selected .ant-menu-title-content,
.sidebar-gradient-active .ant-menu-item-selected .anticon {
  color: #fff !important;
}

.employee-modal-tabs.ant-tabs-card>.ant-tabs-nav .ant-tabs-tab-active {
  background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%) !important;
  border-color: linear-gradient(135deg, #f093fb 0%, #f5576c 100%) !important;

}

.ant-tabs .ant-tabs-tab {
  color: #40b606 !important;
  ;
}

.employee-modal-tabs.ant-tabs-card>.ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff !important;
}

.ant-modal .ant-modal-content {
  padding: 10px !important;
}

.ant-tabs>.ant-tabs-nav .ant-tabs-nav-list,
.ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-list {
  width: 100%;
  justify-content: space-evenly;
}

.ant-divider-horizontal.ant-divider-with-text {
  color: #52c41a;
  border-block-start: 0 #a8f68b;
}

.ant-input {
  border-radius: 0px;
}

.ant-form-item .ant-form-item-label>label {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
}

.ant-modal .ant-modal-content {
  background: url(https://w0.peakpx.com/wallpaper/414/545/HD-wallpaper-spots-shade-background-light.jpg);
  background-size: cover;
  background-position: center;
}

[class^="ant-modal"] [class*=" ant-modal"] {
  color: #fff;
}

.ant-modal .ant-modal-header,
.ant-modal .ant-modal-title {
  color: #52c41a;
  background: none;
  font-size: 18px !important;
  margin-bottom: 20px;
}
.ant-btn-variant-solid:not(:disabled):not(.ant-btn-disabled):hover {
    background: #031c4e;
}